// Convert from Pixel to REM
@function rem($size) {
  $remSize: calc($size / 16px);
  @return #{$remSize}rem;
}

@mixin flex-element($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
