---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Café de novos membros | Lagoinha Guarulhos"
  description="Você que quer saber mais sobre a Igreja Batista da Lagoinha e como fazer parte da membresia e voluntariado, venha participar!"
>
  <Hero />

  <section class="l-section">
    <div class="c-container">
      <header class="l-section__header">
        <h2 class="c-title">Café com novos membros</h2>
        <p class="c-title--subtitle">
          Você que quer saber mais sobre a Igreja Batista da Lagoinha e como
          fazer parte da membresia e voluntariado, venha participar!
        </p>
      </header>

      <div class="l-section__wrapper">
        <a
          title="Curso Presencial"
          target="_blank"
          href="https://chat.whatsapp.com/Bui50IKKBsDJr0uGhqWttN"
          class="card-link"
        >
          <div class="c-card">
            <div class="c-card__wrapper">
              <div class="c-card__text-content">
                <h3 class="c-card__title">Curso presencial</h3>
                <p class="c-card__text">
                  Clique no link abaixo e faça sua inscrição para o <b
                    >curso presencial.</b
                  >
                </p>
              </div>
              <span class="c-card__link">Quero fazer presencial</span>
            </div>
            <div class="c-card__wrapper">
              <img
                src="/assets/images/ilustracao-presencial.svg"
                alt="Ilustração do curso presencial"
              />
            </div>
          </div>
        </a>

        <a
          title="Curso On-line"
          target="_blank"
          href="https://chat.whatsapp.com/EuZjZIxKyni8yZaVuP8LlV"
          class="card-link"
        >
          <div class="c-card">
            <div class="c-card__wrapper">
              <div class="c-card__text-content">
                <h3 class="c-card__title">Curso on-line</h3>
                <p class="c-card__text">
                  Clique no link abaixo e faça sua inscrição para o <b
                    >curso on-line.</b
                  >
                </p>
              </div>
              <span class="c-card__link">Quero fazer on-line</span>
            </div>
            <div class="c-card__wrapper">
              <img
                src="/assets/images/ilustracao-on-line.svg"
                alt="Ilustração do curso on-line"
              />
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <Footer />
</Layout>
