<section class="c-hero">
  <div class="c-container">
    <div class="c-hero__wrapper">
      <div class="c-logo">
        <a href="/" class="c-logo__link">
          <img
            class="c-logo__image"
            src="/assets/images/logo-lagoinha-guarulhos.svg"
            alt="Logo Lagoinha Guarulhos"
          />
        </a>
      </div>

      <div class="c-hero__headline">
        <span class="c-hero__tag">Transferencia presencial ou on-line</span>
        <h1 class="c-title c-title--display">Curso para novos Membros</h1>
        <p class="c-title c-title--subtitle">
          Para quem é batizado e deseja se tornar um membro da Lagoinha
        </p>
        <div class="c-hero__info">
          <span class="c-hero__info-ico">
            <svg
              width="15"
              height="17"
              viewBox="0 0 15 17"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.2"
                d="M0.625 5.62501H14.375V2.50001C14.375 2.33425 14.3092 2.17528 14.1919 2.05807C14.0747 1.94086 13.9158 1.87501 13.75 1.87501H1.25C1.08424 1.87501 0.925269 1.94086 0.808058 2.05807C0.690848 2.17528 0.625 2.33425 0.625 2.50001V5.62501Z"
                fill="white"></path>
              <path
                d="M13.75 1.25H11.875V0.625C11.875 0.45924 11.8092 0.300268 11.6919 0.183058C11.5747 0.065848 11.4158 0 11.25 0C11.0842 0 10.9253 0.065848 10.8081 0.183058C10.6908 0.300268 10.625 0.45924 10.625 0.625V1.25H4.375V0.625C4.375 0.45924 4.30915 0.300268 4.19194 0.183058C4.07473 0.065848 3.91576 0 3.75 0C3.58424 0 3.42527 0.065848 3.30806 0.183058C3.19085 0.300268 3.125 0.45924 3.125 0.625V1.25H1.25C0.918596 1.25038 0.600874 1.3822 0.366535 1.61654C0.132197 1.85087 0.000379014 2.1686 0 2.5V15C0.000379014 15.3314 0.132197 15.6491 0.366535 15.8835C0.600874 16.1178 0.918596 16.2496 1.25 16.25H13.75C14.0814 16.2496 14.3991 16.1178 14.6335 15.8835C14.8678 15.6491 14.9996 15.3314 15 15V2.5C14.9996 2.1686 14.8678 1.85087 14.6335 1.61654C14.3991 1.3822 14.0814 1.25038 13.75 1.25ZM3.125 2.5V3.125C3.125 3.29076 3.19085 3.44973 3.30806 3.56694C3.42527 3.68415 3.58424 3.75 3.75 3.75C3.91576 3.75 4.07473 3.68415 4.19194 3.56694C4.30915 3.44973 4.375 3.29076 4.375 3.125V2.5H10.625V3.125C10.625 3.29076 10.6908 3.44973 10.8081 3.56694C10.9253 3.68415 11.0842 3.75 11.25 3.75C11.4158 3.75 11.5747 3.68415 11.6919 3.56694C11.8092 3.44973 11.875 3.29076 11.875 3.125V2.5H13.75L13.7502 5H1.25V2.5H3.125ZM13.75 15H1.25V6.25H13.7502L13.7508 15H13.75Z"
                fill="white"></path>
            </svg>
          </span>
          <span class="c-hero__info-text"
            >Sexta-feira, 01 de Dezembro às 20h</span
          >
        </div>
      </div>
    </div>
    <div class="c-hero__wrapper">
      <img
        src="/assets/images/imagem-estudante.png"
        alt="Imagem de uma estudante"
        class="c-hero__image"
      />
    </div>
  </div>
</section>
