.l-section {
  padding: rem(80px) 0;

  @include media-up(md) {
    padding: rem(120px) 0;
  }

  .c-container {
    @include flex-element(column, start, start);
  }

  &__header {
    width: 100%;

    @include media-up(md) {
      max-width: rem(800px);
    }

    .c-title {
      margin-bottom: rem(16px);

      &--subtitle {
        margin-bottom: rem(32px);
      }
    }
  }

  &__wrapper {
    width: 100%;
    gap: rem(32px);
    display: flex;
    flex-direction: column;

    @include media-up(lg) {
      flex-direction: row;
    }
  }

  .card-link {
    width: 100%;
  }
}
